*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}
.background{
    width: 100%;
    height: 100%;
    background-image: url("4-47087_free-abstract-hd-wallpapers.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
}
.nav{
    width: 350px;
    height: auto;
    position: absolute;
    top:20%;
    left:0;
}
.nav a{
    text-decoration: none;
    font-size: 28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: bold;
    height: 90px;
    margin:5px 0px;
    flex:1;
    display: inline-block;
    background-color: black;
    color: blanchedalmond;
    line-height: 90px;
    text-align: center;  
    transition: 300ms;
}
a.active, .nav a:hover{
    background-color: blanchedalmond;
    color: brown;
    width: 100%;
}
.a{
    width:95%
}

.b{
    width:85%
}

.c{
    width:80%
}

.d{
    width:90%;
}

.content{
    position: absolute;
    width: 930px;
    min-height: 500px;
    height: auto;
   /* background-color: brown;*/
    right: 0;
    top: -20%;

}
.home{
    position:absolute;
    right: 50px;
    bottom: 0px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;

}
.home h4{
    font-size: 30px;
    padding-right: 150px;
    border-bottom: 1px solid white;
}
.home h2{
    font-size: 60px;
    padding: 5px 0;
    opacity: 0.6px;
}
.aboutme{
    position:absolute;
    right: 50px;
    top: 150px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0 120px;

}
.aboutme p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom:15px;
}
.contactme{
    position: absolute;
    right:400px;
    bottom: 10px;
    color: whitesmoke;
    padding: 0 60px;
    /*display:none;*/
}
.inputtext{
    width:100%;
    height:65px;
    border:3px solid white;
    color:white;
    background-color: rgba(0,0,0,0.7);
    font-size: 20px;
    padding:0 10px; 
    float: left;
    margin-bottom: 15px;
}
.inputmessage{
    width:100%;
    height:65px;
    border:3px solid white;
    color:white;
    background-color: rgba(0,0,0,0.7);
    font-size: 20px;
    padding:0 10px;
    float: left;
}
.submitbutton{
    width:160px;
    height: 65px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color:brown;
    font-size: 20px;
    border-spacing: none;
    font-weight: bold;
    float: left;
    clear: both;
    margin-top:25px;
}
.gallery{
    position:absolute;
    right: 0px;
    bottom: 15px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0 60px;
}

.gallery h1{
    color: seagreen;

}
.gallery .image{
    width: 50%;
    margin: 2%;

}
.image img{
    width:100%;
}
